################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegistrationPortal
/RegistrationPortal.Server/bin/Debug/net8.0
/RegistrationPortal.Server/Files
/RegistrationPortal.Server/obj
/RegistrationPortal.Client/obj
/.vs/ProjectEvaluation
/RegistrationPortal.Server/bin/Release/net8.0
/PublishedApp
/RegistrationPortal.Server/wwwroot/3rdpartylicenses.txt
/RegistrationPortal.Server/wwwroot/prerendered-routes.json
/RegistrationPortal.Server/wwwroot/browser
